.user-profile{
    margin-bottom: 14px;
    width: 42%;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        width: 100%;
        margin-bottom: 0px;
    }
}

.user-profile_image{
    height: 152px;
    width: 45%;
    object-fit: cover;
    margin-left: 93px;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.user-profile_image-1{
    height: 150px;
    width: 37%;
    object-fit: cover;
    margin-left: 100px;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.user-profile_image-2{
    height: 150px;
    width: 37%;
    object-fit: cover;
    margin-left: 151px;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.user-profile_info{
    margin-top: -8px;
    margin-left: 28px;
    margin-right: 36px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.user-profile-3{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.user-profile_name{
    margin-left: 26px;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
    }
}

.user-profile_npm{
    align-self: center;
}

.user-profile_role{
    margin-left: 54px;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
    }
}

.about{
    height: 700px;
    padding-bottom: var(--space-3x1);
    background-color: var(--gray_900_01);
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }

    @media only screen and (max-width: 550px) {
        padding-top: var(--space-lg);
        padding-bottom: var(--space-lg);
    }
}

.about-section{
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        padding-left: var(--space-lg);
        padding-right: var(--space-lg);
    }
}

.about-section_content{
    gap: 44px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.about-section_features{
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        padding-left: var(--space-lg);
        padding-right: var(--space-lg);
    }
}

.about-section_feature{
    gap: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        width: 100px;
    }
}

.about-section_feature-list{
    margin-left: 44px;
    gap: var(--space-6x1);
    display: flex;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        margin-left: 0px;
    }
}

.about-section_feature-list-1{
    margin-left: 182px;
    margin-right: 122px;
    gap: var(--space-7x1);
    display: flex;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
}