/* Animasi Slide Up */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* About Us Page */
.about-section_features > div,
.about-section_feature-list-1 > div {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
}

.about-section_features > div:nth-child(1) {
    animation-delay: 0.2s;
}

.about-section_features > div:nth-child(2) {
    animation-delay: 0.4s;
}

.about-section_feature-list-1 > div:nth-child(1) {
    animation-delay: 0.6s;
}

.about-section_feature-list-1 > div:nth-child(2) {
    animation-delay: 0.8s;
}

/* Home Page */
.home_content {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
}

.home_title h1 {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
    animation-delay: 0.2s;
}

.home_title h2 {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
    animation-delay: 0.4s;
}

.home_button {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
    animation-delay: 0.6s;
}

header a {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
    animation-delay: 0.1s;
}

/* Maps Page */
.maps-section_content {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
}

.maps-section_navbar .header a {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
    animation-delay: 0.1s;
}

iframe.maps-section_map {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
    animation-delay: 0.3s;
}

.maps_monitoring-row-1,
.maps_monitoring-row-2,
.weather-monitoring-dashboard {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
    animation-delay: 0.5s;
}

.weather-monitoring-dashboard_details-row {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
    animation-delay: 0.7s;
}

.weather-monitoring-dashboard_graphs-column img {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.8s ease-in-out forwards;
    animation-delay: 0.9s;
}
