/*  */
body, html {
    overflow: auto; /* Aktifkan scroll global */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.webgis-content {
    width: 97%;
    height: 500px; /* Tinggi area yang dapat digulir */
    background-color: #eaeaea;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px; /* Tambahkan jarak bawah */    
    /* Untuk posisi tengah */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto; /* Tengah horizontal */
}


.weather-monitoring-dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    @media only screen and (max-width: 1050px) {
        padding-left: var(--space-lg);
        padding-right: var(--space-lg);
    }
}

.maps_monitoring-section{
    gap: var(--space-2x1);
    display: flex;
    flex-direction: column;
}

.maps_monitoring-row-2{
    background-color: var(--gray_700);
    display: flex;
    padding: var(--space-sm);
    border-radius: var(--radius-md);
}

.maps_monitoring-row-1 {
    display: flex;
    justify-content: center; /* Mengatur posisi horizontal ke tengah */
    align-items: center;    /* Mengatur posisi vertikal ke tengah */
    height: 50px;          /* Tinggi kontainer, sesuaikan */
    text-align: center;     /* Pastikan teks tetap rata tengah */
}
.weather-monitoring-dashboard_label{
    gap: var(--space-5x1);
    display: flex;
    background-color: var(--gray_700);
    flex-direction: column;
    padding: var(--space-md);
    border-radius: var(--radius-xs);
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.weather-monitoring-dashboard_monitoring-column{
    margin-bottom: 32px;
    gap: var(--space-5x1);
    display: flex;
    flex-direction: column;
}

.weather-monitoring-dashboard_temperature-column {
    gap: var(--space-4x1);
    display: flex;
    flex-direction: column;
}

.weather-monitoring-dashboard_humadity-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-monitoring-dashboard_buttons-row {
    gap: var(--space-x1);
    display: flex;
}

.weather-monitoring-dashboard_temperature-button{
    color: var(--white_a700) !important;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--gray_700) !important;
    width: 100%;
    height: 62px;
    border-radius: 10px !important;
    @media only screen and (max-width: 550px) {
        padding-left: var(--space-lg);
        padding-right: var(--space-lg);
    }
}

.maps_monitoring-row{
    width: 555px;
    height: 369px;
    border-radius: 10px;
    background: #5B5757;
    gap: var(--space-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.maps_monitoring-row {
    margin: 10px 0; /* Jarak antar baris */
}

iframe {
    pointer-events: none; /* Nonaktifkan interaksi default */
}

iframe:focus {
    pointer-events: auto; /* Aktifkan interaksi saat iframe mendapat fokus */
}

.maps_monitoring-container {
    display: flex;
    gap: var(--space-lg); /* Jarak antar baris */
    flex-wrap: wrap; /* Agar elemen bisa berpindah ke baris berikutnya jika tidak muat */
    align-items: center; /* Menyelaraskan elemen secara vertikal */
    justify-content: space-between; /* Mengatur distribusi ruang */
}

.weather-monotoring-dashboard_temperature-graph{
    height: 344px;
    width: 50%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.maps_address-text{
    width: 98%;
    line-height: 15px;
    font-style: italic;
}

.maps_address-span{
    font-weight: 400;
}

.maps_monitoring-line{
    height: 2px;
    margin-top: 14px;
    background-color: var(--white_a700);
    align-self: stretch;
}

.maps_monitoring-line-1{
    height: 2px;
    margin-top: 38px;
    background-color: var(--white_a700);
    align-self: stretch;
}

.weather-monitoring-dashboard_humadity-text{
    text-align: center;
    align-self: stretch;
    line-height: 17px;
}

.grafik-display{
    gap: var(--space-2x1);
    display: flex;
    width: 42%;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.grafik-display_label-stack{
    height: 62px;
    background-color: var(--gray_700);
    position: relative;
    align-content: center;
    border-radius: var(--radius-xs);
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.grafik-display_label{
    margin: auto;
}

.grafik-display_label-row{
    background-color: var(--gray_700);
    flex: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    padding: var(--space-sm);
    margin: auto;
    border-radius: var(--radius-xs);
}

.grafik-display_image-stack{
    height: 344px;
    position: relative;
    align-content: center;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.grafik-display_image{
    height: 344px;
    flex: 1;
    width: 100%;
    object-fit: cover;
}

.grafik-display_image--secondary{
    height: 344px;
    flex: 1;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    margin: auto;
}

.maps_monitoring-row-inner{
    flex: 1;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}

.weather-monitoring-dashboard_details-row{
    gap: var(--space-md);
    display: flex;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.weather-monitoring-dashboard_counter-column{
    gap: var(--space-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-monitoring-dashboard_line{
    height: 2px;
    background-color: var(--white_a700);
    align-self: stretch;
    width: 100%;
}

.temperature-monitoring{
    gap: var(--space-4x1);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.weather-monitoring-dashboard_temperature{
    gap: var(--space-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.weather-monitoring-dashboard_temperature-line{
    height: 2px;
    background-color: var(--white_a700);
}

.weather-monitoring-dashboard_graphs-column{
    gap: var(--space-2x1);
    display: flex;
    flex: 1;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        align-content: stretch;
    }
}

.maps_monitoring-humadity-button{
    color: var(--white_a700) !important;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 20px;
    font-weight: 600px;
    background-color: var(--gray_700) !important;
    align-self: stretch;
    height: 62px;
    border-radius: 10px !important;
    @media only screen and (max-width: 550px) {
        padding-left: var(--space-lg);
        padding-right: var(--space-lg);
    }
}

.maps_monitoring-humadity-image{
    height: 344px;
    object-fit: cover;
}

/*  */

/*  */
.maps{
    /* padding-top: var(--space-3x1); */
    padding-bottom: var(--space-3x1);
    gap: 70px;
    background: linear-gradient(180deg, #88848400, #292828ec, #191825);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        gap: 52px;
    }

    @media only screen and (max-width: 550px) {
        gap: 35px;
        padding-top: var(--space-lg);
        padding-bottom: var(--space-lg);
    }
}

.maps-section_content{
    gap: 72px;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        gap: 54px;
    }

    @media only screen and (max-width: 550px) {
        gap: 36px;
    }
}

.maps-section_navbar{
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Tetap saat scroll */
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav{
    gap: var(--space-3x1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 25px 0px 0px;
}

.ui.headings{
    color: var(--blue_gray_800);
}

.maps-section_nav-item{
    margin-left: 32px;
    align-self: flex-end;
}

.maps-section_nav-item-1{
    margin-left: 32px;
}

.maps-section_map{
    height: 500px;
    border-width: 0px;
    border-radius: var(--radius-xs);
    width: 1300px;
    margin: 20px 22px 10px 0px;
}

.column{
    margin-bottom: 4px;
    gap: var(--space-5x1);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
}

.listdescription{
    gap: var(--space-5x1);
    display: flex;
    align-self: stretch;
    flex-direction: column;
}

.maps_description-column{
    gap: var(--space-5x1);
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        padding-left: var(--space-lg);
        padding-right: var(--space-lg);
    }
}

.maps_monitoring-stack{
    height: 104px;
    background-color: var(--gray_700);
    position: relative;
    align-content: center;
    border-radius: var(--radius-md);
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.maps_addres{
    width: 96%;
    line-height: 15px;
    font-style: italic;
    margin: auto;
}

.maps_address-row{
    background-color: var(--gray_700);
    flex: 1;
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    padding: var(--space-sm);
    margin: auto;
    border-radius: var(--radius-md);
}

.maps_monitoring-label{
    height: 434px;
    background-color: var(--gray_700);
    width: 26%;
    position: relative;
    border-radius: var(--radius-xs);
    @media only screen and (max-width: 1050px) {
        width: 100%;
        height: auto;
    }
}

.maps_monitoring-column{
    margin-top: 18px;
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maps_monitoring-temperature-label{
    margin-top: 50px;
}

.maps_monitoring-humadity-label{
    margin-top: 50px;
    text-align: center;
    align-self: stretch;
    line-height: 17px;
}

.maps_monitoring-label-column-1{
    background-color: var(--gray_700);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    padding: var(--space-md);
    margin: auto;
    border-radius: var(--radius-xs);
}

.maps_monitoring-temperature-column{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    gap: var(--space-xs);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.maps_monitoring-humadity-column{
    margin-top: 50px;
    margin-bottom: 32px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maps_monitoring-label-column{
    gap: var(--space-5x1);
    display: flex;
    background-color: var(--gray_700);
    width: 26%;
    flex-direction: column;
    padding: var(--space-md);
    border-radius: var(--radius-xs);
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.maps_monitoring-list{
    margin-bottom: 32px;
    gap: var(--space-5x1);
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        flex-direction: row;
    }
}